<div class="box">
    {{!-- HEADER --}}
    <header>
        <nav class="navbar">
            <a href="/">
                <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_plus-055f80.svg"
                    alt=""></a>
            <input type="text" placeholder="Search for Products, Brands and More">

            <div class="dropdown">
                <button>Snehesh Thattil</button>
                <div class="content">
                    <a href="/profile">My Profile</a>
                    <a href="/superCoin-zone">SuperCoin Zone</a>
                    <a href="/plus-zone">Flipkart Plus Zone</a>
                    <a href="/orders">Orders</a>
                    <a href="/wishlist">Wishlist</a>
                    <a href="/coupons">Coupons</a>
                    <a href="/gift-cards">Gift Cards</a>
                    <a href="/notifications">Notifications</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <ul>
                <li><a href='/Cart'>Cart</a></li>
                <li><a href='/become-Seller'>Become a Seller</a></li>
            </ul>
            <div class="dots-dropdown">
                <button><strong> : </strong></button>
                <div class="dots-content">
                    <a href="/notf-pref">Notification Preferences</a>
                    <a href="/cust-care">24x7 Customer Care</a>
                    <a href="/advertise">Advertise</a>
                    <a href="/dwnld-app">Download App</a>
                </div>
            </div>
        </nav>
    </header>
    {{!-- BODY --}}
    <div class="categories">
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
            <p>Grocery</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="">
            <p>Mobiles</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
            <p>Grocery</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="">
            <p>Mobiles</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100" alt="">
            <p>Appliances</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/71050627a56b4693.png?q=100" alt="">
            <p>Travel</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100" alt="">
            <p>Appliances</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/71050627a56b4693.png?q=100" alt="">
            <p>Travel</p>
        </div>
        <div>
            <img src="https://rukminim2.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
            <p>Grocery</p>
        </div>
    </div>
    <div class="slides-wrapper">
        <div id="container" class="slides">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/d29152d1d112fbf0.jpg?q=20" alt="">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/739ed527dbf977fe.jpg?q=20" alt="">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/6cd4bdab7ee0d250.jpg?q=20" alt="">
            <img src="https://rukminim2.flixcart.com/fk-p-flap/1600/270/image/f91a7f06c29042a0.jpg?q=20" alt="">
        </div>
        <button id="left-arrow-btn"><img onclick="butRight()" src="../images/Previous-for-flipkart-slides.png"
                alt="err"></button>
        <button id="right-arrow-btn"><img onclick="butRight()" src="../images/Next-for-flipkart-slides.png"
                alt="err"></button>
    </div>
    <div class="top-deals-box">
        <p class="title">Top Deals</p>
        <div class="top-deals">
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/r/z/2/-original-imaghhfgbudtrdgt.jpeg?q=70"
                        alt="">
                    <p>Jack & Jones, UCB <br>60-85% Off</p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shoe/1/5/m/6-rso342-red-tape-white-blue-original-imagugm5h6mxypgk.jpeg?q=70"
                        alt="">
                    <p>HRX, Fila & More <br>Under 899 </p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/track-pant/l/s/i/s-solid-men-track-pants-pack-of-2-foxter-original-imagzvpkgaayqxqv.jpeg?q=70"
                        alt="">
                    <p>Pepe Jeans & Reymond <br>65-90% Off</p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shoe/d/v/u/-original-imagtbteqenzuepz.jpeg?q=70"
                        alt="">
                    <p> Being Human & Provogue <br>70-85% Off</p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/watch/i/q/e/-original-imagnre8pbpnfhgz.jpeg?q=70"
                        alt="">
                    <p>Nike, Puma & More <br> 65-90% Off</p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/kfoapow0-0/jean/z/q/t/28-10064463-roadster-original-imafw2g5nyfyv9ms.jpeg?q=70"
                        alt="">
                    <p>HRX, Fila & More <br>Under 899 </p>
                </a>
            </div>
            <div class="items">
                <a href=""><img
                        src="https://rukminim2.flixcart.com/image/612/612/xif0q/sunglass/o/a/3/free-size-lw1165-darkpinkgolden-the-magnifique-original-imagtjhaafsdv2zc.jpeg?q=70"
                        alt="">
                    <p>Jack & Jones, UCB <br>60-85% Off</p>
                </a>
            </div>
        </div>

    </div>
</div>

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}